<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XS156LinearTesterPole.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="XS156LinearTesterPole.My.MySettings.bdd_badgesConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bdd_badges.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="XS156LinearTesterPole.My.MySettings.XS156dataacquisitionConnectionString"
            connectionString="server=wxsg103030118d.apa;User Id=capture;password=capture;Persist Security Info=True;database=dataacquisition"
            providerName="MySql.Data.MySqlClient" />
        <add name="XS156LinearTesterPole.My.MySettings.HazardEventsNamesConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\HazardEventsNames.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <XS156LinearTesterPole.My.MySettings>
            <setting name="Bdd_badgesDirectory" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="PLCIpAddress" serializeAs="String">
                <value>10.184.65.175</value>
            </setting>
            <setting name="RFIDIpAddress" serializeAs="String">
                <value>10.184.65.169</value>
            </setting>
            <setting name="EquipmentNameHiPot" serializeAs="String">
                <value>Linear Tester HiPot</value>
            </setting>
            <setting name="EquipmentNameFinal" serializeAs="String">
                <value>Linear Tester Final</value>
            </setting>
            <setting name="IPAddressOfDataAcquisitionServer" serializeAs="String">
                <value>WXSG103030118D.apa</value>
            </setting>
            <setting name="ModbusAddressLoading" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ModbusAddressUnloading" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LinearTesterHiPotName" serializeAs="String">
                <value>Linear Tester Loading</value>
            </setting>
            <setting name="LinearTesterFinalName" serializeAs="String">
                <value>Linear Tester Final</value>
            </setting>
        </XS156LinearTesterPole.My.MySettings>
    </userSettings>
</configuration>
